<%= form_for(@owner) do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  
  <h2>Information for your upcoming appointment on <%= @appointment.date %>:</h2>

  <%= fields_for @appointment do |a| %>
  <div class="field">
    <%= a.label :address  %><br>
    <%= a.text_field :address %>
  </div>
  <div class="field">
    <%= a.label :city  %><br>
    <%= a.text_field :city %>
  </div>

  <div class="field">
    <%= a.label :description  %><br>
    <%= a.text_field :description %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit, :class => "button"%>
  </div>
<% end %>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"></script>
<% end %>
