
<%= link_to home_path %>
  <table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Email</th>
      <th width="150">Phone</th>
      <th width="150">Picture</th>
      <th width="150">Zipcode</th>
    </tr>
  </thead>
  <% @sitters.each do |sitter|%>
  <tbody>
    <tr>
      <td><%= sitter.name%></td>
      <td><%= sitter.email%></td>
      <td><%= sitter.phone_number%></td>
      <td>
  
      <% (session[:available]).each do |name, hash| %>
        <%= name %>
        <%= link_to(image_tag(hash['picture'])) %>
      <% end %>
      </td>
      <td><%= sitter.zip_code%></td>
    </tr>
   <%end%> 
  </tbody>
</table>



