
<%= form_for @appointment, :validate => true do |f| %>
  <% if @appointment.errors.any? || @owner.errors.any? %>
    <div id="error_explanation">
      
      <% @appointment.errors.full_messages.each do |msg| %>
        <h5><%= msg %></h5>
      <% end %>
        <% @owner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      
    </div>
  <% end %>
<div class="form_box">

  <div class="field date_field">
    <h3>Date: </h3>
    <%= f.date_field :date, :autofocus => true %>
  </div>
  
  <div class="field time_field">
    <h3>Start Time: </h3>
    <%= f.select(:time_start, @times_array) %>
  </div>
  
  <div class="field time_field">
    <h3>End Time: </h3>
    <%= f.select(:time_end, @times_array) %>
  </div>

  <div class="error">
  <span id="time_errors"> </span>
  </div>

  <div class="field zip_field">
    <h3>Zip Code: </h3>
    <%= f.text_field :zip_code, :maxlength => 5 %>
  </div>
  
  <div class="error">
    <span id="zip_code_errors">  </span>
  </div>

  <%= fields_for @owner, :validate => true do |o| %>
    <div class="field">
      <h3>Email: </h3>
      <%= o.text_field :email %>
    </div>
  <% end %>
  <div class="appointment_submit">
    <%= f.button :submit %>
  </div>
<% end %>
</div>