<h1>Back Up Appointment Confirmation<h1>
<% if @sitter_id %>
  <h3><%= @sitter.name %>, are you sure you want to be the back up sitter for the appointment between <%=@appointment.time_start%> and <%= @appointment.time_end%>?</h3>
<% else %>
  <p>Please Sign in before confirming</p>
<% end %>
 <%= form_for @appointment do |f| %>
  <%= f.hidden_field :back_up_sitter_id, value: @sitter_id %>
  <%= f.hidden_field :appointment_id, value: @appointment.id %>
  <%= f.submit "Confirm", class: "btn", :disabled => !(@sitter_id) %>
<% end %>