<!-- <span class="welcome_page row">
  <span class ="sitbutt large-4 columns">
    <button id="sitterbutton">
      <p>Become a Sitter</p>
    </button>    
  </span>

  <span class = "sitbutt2 large-4 columns">
    <button id="findsitterbutton" onclick="ClickEvent()">
      <p>Make an Appointment</p>
    </button> 
  </span> 

  <span class = "sitbutt3 large-4 columns">
    <button id="findsitterbuttonagain">
      <p>View Our Sitters</p>
    </button> 
  </span>
</span>

</br>
</br> -->


<h1>All Appointments</h1>

<table class = "center">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time start</th>
      <th>Time end</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.time_start %></td>
        <td><%= appointment.time_end %></td>
        <td><%= appointment.address %></td>
        <td><%= appointment.description %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
