<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @appointment.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @appointment.time_end %>
</p>

<p>
  <strong>Available:</strong>
  <% (session[:available]).each do |name, picture| %>
    <%= name %>
    <%= link_to(image_tag(picture)) %>
    <% end %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
