    <div class="full-width header-area">
    <div class="large-12 columns">
      <ul class="button-group center">
        
        <li class="link3">
          <h4><%= link_to "Home", home_path %></h4>
        </li>

        <li class="link1">
          <h4><%= "Become a Sitter" %></h4>
        </li>
        

        <li class="link2">
          <h4><%= "Make an Appointment" %></h4>
        </li>


        <li class="link4">
          <h4><%= "View Appointments" %></h4>
        </li>
        
        <li class="link5">
          <h4><%= "View Our Sitters" %></h4>
        </li>
      

        <li class="active">
            <li>
              <% if session[:sitter_id] %>
               <%= link_to "Sign Out", destroy_sitter_session_path %>

              <% else %>
              <%= link_to (image_tag ("Red-signin-Long-hover-32dp.png")), '/auth/google_oauth2' %>
                <% end %>
            </li>

        </li>
      </ul>
   <!--    <br><br> -->
    
    </div>
    </div>
